.Person{
    width: 60%;
    margin: auto;
    border: 1px solid red;
    box-shadow: 0 2px 3px #cccccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .Person{
        width: 500px;
    }
    
};